<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Profile</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="{{url_for('static', filename='img/KarmaTek.png')}}" rel="icon">
    <!-- <link href="img/apple-touch-icon.png" rel="apple-touch-icon"> -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{{url_for('static', filename='lib/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='lib/animate/animate.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='lib/venobox/venobox.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">

    <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

    <!--==========================
    Header
  ============================-->
    <header id="header" class="header-fixed">
        <div class="container">

            <div id="logo" class="pull-left">
                <!-- Uncomment below if you prefer to use a text logo -->
                <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
                <a href="{{url_for('home')}}#intro" class="scrollto"><img src="{{url_for('static', filename='img/PicsArt_10-29-03.45.41')}}" alt="" title=""></a>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('home')}}#about">About</a></li>
                    <li><a href="{{url_for('home')}}#schedule">Events</a></li>
                    <li><a href="{{url_for('home')}}#venue">Venue</a></li>
                    <!-- <li><a href="{{url_for('home')}}#hotels">Hotels</a></li> -->
                    <li><a href="{{url_for('home')}}#gallery">Gallery</a></li>
                    <li><a href="{{url_for('home')}}#supporters">Sponsors</a></li>
                    <li><a href="{{url_for('home')}}#speakers">Team Karmatek</a></li>
                    <li><a href="{{url_for('home')}}#contact">Contact Us</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{url_for('users.account')}}">Profile</a></li>
                    <li><a href="{{url_for('users.logout')}}">Logout</a></li>
                    {% else %}
                    <li><a href="{{url_for('home')}}#participate">Login/Sign Up</a></li>
                    {% endif %}
                    <!-- <li class="buy-tickets"><a href="{{url_for('home')}}#buy-tickets">Buy Tickets</a></li> -->
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->

    {% for mess in get_flashed_messages() %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert" style="z-index: 1000; position: fixed; top: 0; width: 99vw;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button> {{ mess }}
    </div>
    {% endfor %}

    <main id="main" class="main-page">
        <!--==========================
      Contact Section
    ============================-->
        <section id="contact" class="section-bg wow fadeInUp">
            <div class="container">
                <h1>
                    {{event.event}}
                </h1>
                <br>
                <h3>
                    {{data_dict[event.event]}}
                </h3>
                <br>
                <button type="button" name="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#del_modal">Delete</button>
            </div>
        </section>

        <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

        <div class="modal" tabindex="-1" role="dialog" id="del_modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Event</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to remove your participation entry?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                        <form action="{{url_for('users.delete', event_id=event.id)}}" method="post">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="position: absolute; bottom: 0;">
            <div class="copyright">
                &copy; Copyright <strong>TheEvent</strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!--
                      All the links in the footer should remain intact.
                      You can delete the links only if you purchased the pro version.
                      Licensing information: https://bootstrapmade.com/license/
                      Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
                    -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>

        <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="{{url_for('static', filename='lib/jquery/jquery.min.js')}}"></script>
        <script src="{{url_for('static', filename='lib/jquery/jquery-migrate.min.js')}}"></script>
        <script src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{url_for('static', filename='lib/easing/easing.min.js')}}"></script>
        <script src="{{url_for('static', filename='lib/superfish/hoverIntent.js')}}"></script>
        <script src="{{url_for('static', filename='lib/superfish/superfish.min.js')}}"></script>
        <script src="{{url_for('static', filename='lib/wow/wow.min.js')}}"></script>
        <script src="{{url_for('static', filename='lib/venobox/venobox.min.js')}}"></script>
        <script src="{{url_for('static', filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>

        <!-- Contact Form JavaScript File -->
        <script src="{{url_for('static', filename='contactform/contactform.js')}}"></script>

        <!-- Template Main Javascript File -->
        <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>

</html>