<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>KARMATEK 2020</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="{{url_for('static', filename='img/KarmaTek.png')}}" rel="icon">
    <link href="{{url_for('static', filename='img/KarmaTek.png')}}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{{url_for('static', filename='lib/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='lib/animate/animate.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='lib/venobox/venobox.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">

    <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

    <!--==========================
    Header
  ============================-->
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <a href="#intro" class="scrollto"><img src="{{url_for('static', filename='img/PicsArt_10-29-03.45.41')}}" alt="" title=""></a>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="#intro">Home</a></li>
                    <li><a href="{{url_for('home')}}#about">About</a></li>
                    <li><a href="{{url_for('home')}}#schedule">Events</a></li>
                    <li><a href="{{url_for('home')}}#venue">Venue</a></li>
                    <li><a href="{{url_for('home')}}#gallery">Gallery</a></li>
                    <li><a href="{{url_for('home')}}#supporters">Sponsors</a></li>
                    <li><a href="{{url_for('home')}}#speakers">Team Karmatek</a></li>
                    <li><a href="{{url_for('home')}}#contact">Contact Us</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{url_for('users.account')}}">Profile</a></li>
                    <li><a href="{{url_for('users.logout')}}">Logout</a></li>
                    {% else %}
                    <li><a href="{{url_for('home')}}#participate">Login/Sign Up</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <!-- #header -->

    {% for mess in get_flashed_messages() %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert" style="z-index: 1000; position: fixed; top: 0; width: 99vw;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button> {{ mess }}
    </div>
    {% endfor %}

    <!--==========================
    Intro Section
  ============================-->
    <section id="intro">
        <div class="intro-container wow fadeIn">
            <h1 class="mb-4 pb-0">Karmatek<br><span>2020</span></h1>
            <p class="mb-4 pb-0">10-12 March, GCECT, Kolkata</p>
            <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a> -->
            {% if current_user.is_authenticated %}
            <a href="{{url_for('users.account')}}" class="about-btn scrollto">
              Participate in Karmatek
            </a> {% else %}
            <a href="{{url_for('home')}}#participate" class="about-btn scrollto">
              Participate in Karmatek
            </a> {% endif %}
        </div>
    </section>

    <main id="main">

        <!--==========================
      About Section
    ============================-->
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>About The Event</h2>
                        <p>Karmatek is the annual technolgical fest of Govenment College of Engineering & Ceramic Technology. It is organised around the time of the onset of every even semester. Karmatek is all about knowledge diffusion with added thrills.
                            Students from GCECT as well as various other colleges awaits each year to exhibit their talents.</p>
                    </div>
                    <div class="col-lg-3">
                        <h3>Where</h3>
                        <p>GCECT, KOLKATA</p>
                    </div>
                    <div class="col-lg-3">
                        <h3>When</h3>
                        <p>Tuesday to Thursday<br>10-12 March</p>
                    </div>
                </div>
            </div>
        </section>

        <!--==========================
      Schedule Section
    ============================-->
        <section id="schedule" class="section-with-bg">
            <div class="container wow fadeInUp">
                <div class="section-header">
                    <h2>Event</h2>
                    <p>Here is our event schedule</p>
                </div>

                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#day-1" role="tab" data-toggle="tab">Robotics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#day-2" role="tab" data-toggle="tab">Coding</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#day-3" role="tab" data-toggle="tab">Gaming</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#day-4" role="tab" data-toggle="tab">Fungineering</a>
                    </li>
                </ul>

                <div class="tab-content row justify-content-center">
                    <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
                        <div class="row schedule-item">
                            <div class="col-md-2"><time>Robo Race</time></div>
                            <div class="col-md-10">
                                <div class="speaker">
                                    <img src="{{url_for('static', filename='img/Index/roborace.png')}}" alt="Robo Race">
                                </div>
                                <p>Design your own robo and bring it on the track to test its power and efficiency. Let’s see who wins the wheel-to-wheel action in this enthralling event.</p>
                            </div>
                        </div>

                        <div class="row schedule-item">
                            <div class="col-md-2"><time>Robo carrom</time></div>
                            <div class="col-md-10">
                                <div class="speaker">
                                    <img src="{{url_for('static', filename='img/Index/robocarrom.png')}}" alt="Robo Carrom">
                                </div>
                                <p>Bring your robot to test its skills and agility. Register today and see how good your bot is at playing carrom.</p>
                            </div>
                        </div>

                        <div class="row schedule-item">
                            <div class="col-md-2"><time>Robo Soccer</time></div>
                            <div class="col-md-10">
                                <div class="speaker">
                                    <img src="{{url_for('static', filename='img/Index/robo soccer.jpg')}}" alt="Robo Soccer">
                                </div>
                                <p>Because the robo is not just speed. Yes, your droid/ robot can do a lot more. Let your robot kick the ball while you get the prize money if it wins.</p>
                            </div>
                        </div>

                        <div class="row schedule-item">
                            <div class="col-md-2"><time>Robo Maze</time></div>
                            <div class="col-md-10">
                                <div class="speaker">
                                    <img src="{{url_for('static', filename='img/Index/robo maze.png')}}" alt="Robo Maze">
                                </div>
                                <p>Feel the thrill, feel the tension as your hand made robot moves through a complicated maze. Let’s see who is the fastest to move through the labyrinth!</p>
                            </div>
                        </div>

                        <div class="row schedule-item">
                            <div class="col-md-2"><time>Autonomous Line Follower</time></div>
                            <div class="col-md-10">
                                <div class="speaker">
                                    <img src="{{url_for('static', filename='img/Index/autonomous line follower.jpeg')}}" alt="Autonomous Line Follower">
                                </div>
                                <p>Does your droid have the caliber to be the fastest line follower? Build your own autonomous robot and beat others on the track to win an exciting prize money!</p>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">

                        <div class="row schedule-item">
                            <div class="col-md-2"><time>Code Beta</time></div>
                            <div class="col-md-10">
                                <div class="speaker">
                                    <img src="{{url_for('static', filename='img/Index/codebeta.jpeg')}}" alt="Code Beta">
                                </div>
                                <p>New to coding? No worries! Hone your coding skills and kick start your CP journey with a challenge meant for beginners. Are you up for it?</p>
                            </div>
                        </div>

                        <div class="row schedule-item">
                            <div class="col-md-2"><time>Code Pro</time></div>
                            <div class="col-md-10">
                                <div class="speaker">
                                    <img src="{{url_for('static', filename='img/Index/codepro.jpeg')}}" alt="Code Pro">
                                </div>
                                <p>Put your coding skills to test as you work your way through algorithms like a “PRO”! Grab the title of Code Pro Champ and take home an exciting prize money.</p>
                            </div>
                        </div>

                        <div class="row schedule-item">
                            <div class="col-md-2"><time>Web Designing</time></div>
                            <div class="col-md-10">
                                <div class="speaker">
                                    <img src="{{url_for('static', filename='img/Index/web designing.jpeg')}}" alt="Web Designing">
                                </div>
                                <p>Got a talent for web designing? Don’t let it loiter around. Pick a partner and compete with other talented web designers. Test your skills and maybe win to grab the prize money!</p>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">

                        <div class="row schedule-item">
                            <div class="col-md-2"><time>Pubg</time></div>
                            <div class="col-md-10">
                                <div class="speaker">
                                    <img src="{{url_for('static', filename='img/Index/pubg.jpeg')}}" alt="PUBG">
                                </div>
                                <p>The battleground is all set.</p>
                                <p>Assemble your players and fight to remain the last one alive and win not just a chicken dinner but also the prize money.</p>
                            </div>
                        </div>

                        <div class="row schedule-item">
                            <div class="col-md-2"><time>NFS MW</time></div>
                            <div class="col-md-10">
                                <div class="speaker">
                                    <img src="{{url_for('static', filename='img/Index/Nfs.jpg')}}" alt="NFS MW">
                                </div>
                                <p>Everything under control? Then you aren’t moving fast enough.</p>
                                <p>Get inside the racing car and race your way to win. Let’s see who wins the race to grab the prize.</p>

                            </div>
                        </div>

                        <div class="row schedule-item">
                            <div class="col-md-2"><time>Call-of-Duty</time></div>
                            <div class="col-md-10">
                                <div class="speaker">
                                    <img src="{{url_for('static', filename='img/Index/Call-of-Duty.jpg')}}" alt="Call-of-Duty">
                                </div>
                                <p> Nothing brings gamers together like a bit of competition. How can a gamer miss a competition of COD? Shoot it like your life depends on it and win an assured prize money.</p>
                            </div>
                        </div>

                        <div class="row schedule-item">
                            <div class="col-md-2"><time>Chess</time></div>
                            <div class="col-md-10">
                                <div class="speaker">
                                    <img src="{{url_for('static', filename='img/Index/chess.jpg')}}" alt="Chess">
                                </div>
                                <p>“All that matters on the chessboard is good moves.”- Bobby Fischer</p>
                                <p>Do you think you are smart enough to play the winning move? If you have a passion for chess then come and show us how smart you are.</p>
                            </div>
                        </div>

                        <div class="row schedule-item">
                            <div class="col-md-2"><time>Fifa</time></div>
                            <div class="col-md-10">
                                <div class="speaker">
                                    <img src="{{url_for('static', filename='img/Index/fifa.jpeg')}}" alt="Fifa">
                                </div>
                                <p>Bring out the e-footballer and the champion within you.</p>
                                <p>Put your FIFA skills to test and battle it out to win and take home the prize. So, are you game?</p>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-4">
                        <div class="row schedule-item">
                            <div class="col-md-2"><time>Nail it @ 19</time></div>
                            <div class="col-md-10">
                                <div class="speaker">
                                    <img src="{{url_for('static', filename='img/Index/nail it @19.jpg')}}" alt="Nail it @ 19">
                                </div>
                                <p>“Sometimes, less is more.”- Shakespeare.</p>
                                <p>Are you a minimalist with a head full of creativity? Can you knit a crisp and concise write-up with just 19 words? Yes? Come one, come all!</p>

                            </div>
                        </div>

                        <div class="row schedule-item">
                            <div class="col-md-2"><time>Treasure Hunt</time></div>
                            <div class="col-md-10">
                                <div class="speaker">
                                    <img src="{{url_for('static', filename='img/Index/treasure hunt.jpeg')}}" alt="Treasure Hunt">
                                </div>
                                <p>Let’s be honest. Who doesn’t like a hidden treasure? Use your brain, solve the riddles to find hidden clues and unveil the treasure.</p>
                            </div>
                        </div>

                        <div class="row schedule-item">
                            <div class="col-md-2"><time>PetaPixel</time></div>
                            <div class="col-md-10">
                                <div class="speaker">
                                    <img src="{{url_for('static', filename='img/Index/petapixel.jpeg')}}" alt="Petapixel">
                                </div>
                                <p>Got a knack for photography? Here is an opportunity for all the budding photographers to show off their skills and win a prize.</p>
                            </div>
                        </div>

                        <div class="row schedule-item">
                            <div class="col-md-2"><time>Memester Challenge</time></div>
                            <div class="col-md-10">
                                <div class="speaker">
                                    <img src="{{url_for('static', filename='img/Index/memester.jpg')}}" alt="Memester Challenge">
                                </div>
                                <p>Can you just not pass a day without fooling around? If you think that are humorous enough to be a meme maker, then this is your challenge.</p>
                            </div>
                        </div>

                        <div class="row schedule-item">
                            <div class="col-md-2"><time>CubicMatics</time></div>
                            <div class="col-md-10">
                                <div class="speaker">
                                    <img src="{{url_for('static', filename='img/Index/rubix cube.jpg')}}" alt="Rubix Cube">
                                </div>
                                <p>Can you solve the Rubik’s cube within seconds? Then register now to compete with other such speedcubers and win.</p>
                            </div>
                        </div>

                        <div class="row schedule-item">
                            <div class="col-md-2"><time>Ek Duje Ke Liye</time></div>
                            <div class="col-md-10">
                                <div class="speaker">
                                    <img src="{{url_for('static', filename='img/Index/ek duje ke liye.png')}}" alt="Ek duje ke liye">
                                </div>
                                <p>Cutest couple in college? Are you the inseparable pair? Hone your way through exciting and fun rounds to show the world what you can do “ek duje ke liye”.</p>
                            </div>
                        </div>


                        <div class="row schedule-item">
                            <div class="col-md-2"><time>Tug of War</time></div>
                            <div class="col-md-10">
                                <div class="speaker">
                                    <img src="{{url_for('static', filename='img/Index/tug of war.png')}}" alt="Tug of War">
                                </div>
                                <p>Get ready to pull some rope. Make your team and include the strongest people to assure a victory at strength and teamwork. </p>
                            </div>
                        </div>

                        <div class="row schedule-item">
                            <div class="col-md-2"><time>Matrivia</time></div>
                            <div class="col-md-10">
                                <div class="speaker">
                                    <img src="{{url_for('static', filename='img/Index/matrivia.jpg')}}" alt="Matrivia">
                                </div>
                                <p>Do you have a love for material sciences? Here is the fun-filled quiz on material sciences. Use your knowledge and your wit to crack this questionnaire. Are you smart enough?</p>
                            </div>
                        </div>

                        <div class="row schedule-item">
                            <div class="col-md-2"><time>Fandom</time></div>
                            <div class="col-md-10">
                                <div class="speaker">
                                    <img src="{{url_for('static', filename='img/Index/fandom.jpeg')}}" alt="Fandom">
                                </div>
                                <p>Are you a Potterhead? Or a die-hard fan of MCU? Do you know everything about GOT? Put your knowledge to the ultimate test and win the prize.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </section>


        <!--==========================
      Venue Section
    ============================-->
        <section id="venue" class="wow fadeInUp">

            <div class="container-fluid">

                <div class="section-header">
                    <h2>Event Venue</h2>
                    <p>Event venue location info and gallery</p>
                </div>

                <div class="row no-gutters">
                    <div class="col-lg-6 venue-map">
                        <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
                            <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div>
                            <script>
                                (function() {
                                    var setting = {
                                        "height": 346,
                                        "width": 639.5,
                                        "zoom": 17,
                                        "queryString": "Government College of Engineering And Ceramic Technology, Avinash Chandra Banerjee Lane, Subhas Sarobar Park, Phool Bagan, Beleghata, Kolkata, West Bengal, India",
                                        "place_id": "ChIJrwZ1OX12AjoREtsLXH8uNSs",
                                        "satellite": false,
                                        "centerCoord": [22.56483860659889, 88.39235589999998],
                                        "cid": "0x2b352e7f5c0bdb12",
                                        "cityUrl": "/india/kolkata-26871",
                                        "id": "map-9cd199b9cc5410cd3b1ad21cab2e54d3",
                                        "embed_id": "107316"
                                    };
                                    var d = document;
                                    var s = d.createElement('script');
                                    s.src = 'https://1map.com/js/script-for-user.js?embed_id=107316';
                                    s.async = true;
                                    s.onload = function(e) {
                                        window.OneMap.initMap(setting)
                                    };
                                    var to = d.getElementsByTagName('script')[0];
                                    to.parentNode.insertBefore(s, to);
                                })();
                            </script><a href="https://1map.com/map-embed?embed_id=107316">1map.com</a></div>
                    </div>

                    <div class="col-lg-6 venue-info">
                        <div class="row justify-content-center">
                            <div class="col-11 col-lg-8">
                                <h3>GCECT, Kolkata</h3>
                                <p>73 Abhinash Chandra Banerjee Lane, Kolkata 700010</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--==========================
      Gallery Section
    ============================-->
        <section id="gallery" class="wow fadeInUp">

            <div class="container">
                <div class="section-header">
                    <h2>Gallery</h2>
                    <p>Check our gallery from the recent events</p>
                </div>
            </div>

            <div class="owl-carousel gallery-carousel">
                <a href="{{url_for('static', filename='img/Index/gallery1.png')}}" class="venobox" data-gall="gallery-carousel"><img src="{{url_for('static', filename='img/Index/gallery1.png')}}" alt=""></a>
                <a href="{{url_for('static', filename='img/Index/gallery2.png')}}" class="venobox" data-gall="gallery-carousel"><img src="{{url_for('static', filename='img/Index/gallery2.png')}}" alt=""></a>
                <a href="{{url_for('static', filename='img/Index/gallery3.png')}}" class="venobox" data-gall="gallery-carousel"><img src="{{url_for('static', filename='img/Index/gallery3.png')}}" alt=""></a>
                <a href="{{url_for('static', filename='img/Index/gallery4.png')}}" class="venobox" data-gall="gallery-carousel"><img src="{{url_for('static', filename='img/Index/gallery4.png')}}" alt=""></a>
                <a href="{{url_for('static', filename='img/Index/gallery5.png')}}" class="venobox" data-gall="gallery-carousel"><img src="{{url_for('static', filename='img/Index/gallery5.png')}}" alt=""></a>
                <a href="{{url_for('static', filename='img/Index/gallery6.JPG')}}" class="venobox" data-gall="gallery-carousel"><img src="{{url_for('static', filename='img/Index/gallery6.JPG')}}" alt=""></a>
                <a href="{{url_for('static', filename='img/Index/gallery7.JPG')}}" class="venobox" data-gall="gallery-carousel"><img src="{{url_for('static', filename='img/Index/gallery7.JPG')}}" alt=""></a>
                <a href="{{url_for('static', filename='img/Index/gallery8.JPG')}}" class="venobox" data-gall="gallery-carousel"><img src="{{url_for('static', filename='img/Index/gallery8.JPG')}}" alt=""></a>
                <a href="{{url_for('static', filename='img/Index/gallery9.JPG')}}" class="venobox" data-gall="gallery-carousel"><img src="{{url_for('static', filename='img/Index/gallery9.JPG')}}" alt=""></a>
                <a href="{{url_for('static', filename='img/Index/gallery10.JPG')}}" class="venobox" data-gall="gallery-carousel"><img src="{{url_for('static', filename='img/Index/gallery10.JPG')}}" alt=""></a>
                <a href="{{url_for('static', filename='img/Index/gallery11.JPG')}}" class="venobox" data-gall="gallery-carousel"><img src="{{url_for('static', filename='img/Index/gallery11.JPG')}}" alt=""></a>
            </div>

        </section>

        <!--==========================
      Sponsors Section
    ============================-->
        <section id="supporters" class="section-with-bg wow fadeInUp">

            <div class="container">
                <div class="section-header">
                    <h2>Sponsors</h2>
                </div>

                <div class="row no-gutters supporters-wrap clearfix">

                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="supporter-logo">
                            <img src="{{url_for('static', filename='img/Index/supporters/1.jpg')}}" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="supporter-logo">
                            <img src="{{url_for('static', filename='img/Index/supporters/2.jpg')}}" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="supporter-logo">
                            <img src="{{url_for('static', filename='img/Index/supporters/3.jpg')}}" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="supporter-logo">
                            <img src="{{url_for('static', filename='img/Index/supporters/4.jpg')}}" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="supporter-logo">
                            <img src="{{url_for('static', filename='img/Index/supporters/5.jpg')}}" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="supporter-logo">
                            <img src="{{url_for('static', filename='img/Index/supporters/6.jpg')}}" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="supporter-logo">
                            <img src="{{url_for('static', filename='img/Index/supporters/7.jpg')}}" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="supporter-logo">
                            <img src="{{url_for('static', filename='img/Index/supporters/8.jpg')}}" class="img-fluid" alt="">
                        </div>
                    </div>

                </div>

            </div>

        </section>
        <!--==========================
      Speakers Section
    ============================-->
        <section id="speakers" class="wow fadeInUp">
            <div class="container">
                <div class="section-header">
                    <h2>Team Karmatek</h2>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <a href="{{url_for('union')}}">
                            <div class="speaker">
                                <img src="{{url_for('static', filename='img/Index/Gcectswa.jpg')}}" alt="Speaker 1" class="img-fluid">
                                <div class="details">
                                    <h3>GCECT Students' Welfare Association</h3>
                                    <div class="social">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-8">
                        <a href="{{url_for('coordinator')}}">
                            <div class="speaker">
                                <img src="{{url_for('static', filename='img/Index/coordinator.jpg')}}" alt="Speaker 3" class="img-fluid">
                                <div class="details">
                                    <h3>Core Coordinators</h3>
                                    <div class="social">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </section>

        <!--==========================
      Contact Section
    ============================-->
        <section id="contact" class="section-bg wow fadeInUp">

            <div class="container">

                <div class="section-header">
                    <h2>Contact Us</h2>
                </div>

                <div class="row contact-info">

                    <div class="col-md-4">
                        <div class="contact-address">
                            <i class="ion-ios-location-outline"></i>
                            <h3>Address</h3>
                            <address>73 Abhinash Chandra Banerjee Lane, Kolkata 700010</address>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-phone">
                            <i class="ion-ios-telephone-outline"></i>
                            <h3>Phone Number</h3>
                            <p><a href="tel:+918697438088">+91 86974 38088</a></p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-email">
                            <i class="ion-ios-email-outline"></i>
                            <h3>Email</h3>
                            <p><a href="mailto:chatterjeerajashi@gmail.com">chatterjeerajashi@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="col col-md-12">
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </section>

        <section id="participate" class="section-bg wow fadeInUp">
            {% if not current_user.is_authenticated %}
            <div class="container">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1>For Event Registration:</h1>
                    </div>
                </div>
                <div class="col-md-12">
                    <br>
                    <br>
                </div>

                <div align="center">
                    <div class="col-md-3" style="display: inline-block;">
                        <a href="{{url_for('users.register')}}">
                            <button type="button" class="but but1">SIGN UP</button>
                        </a>
                    </div>
                    <div class="col-md-3" style="display: inline-block;">
                        <a href="{{url_for('users.login')}}">
                            <button type="button" class="but but1">SIGN IN</button>
                        </a>
                    </div>
                </div>
            </div>
            {% else %} {% endif %}
        </section>
    </main>


    <!--==========================
    Footer
  ============================-->
    {% if not current_user.is_authenticated %}
    <footer style="margin-top: 128px;">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>TheEvent</strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
      -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer>
    {% else %}
    <footer style="margin-top: 0;">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>TheEvent</strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
      -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer>
    {% endif %}


    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="{{url_for('static', filename='lib/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/jquery/jquery-migrate.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/easing/easing.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/superfish/hoverIntent.js')}}"></script>
    <script src="{{url_for('static', filename='lib/superfish/superfish.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/wow/wow.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/venobox/venobox.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>

    <!-- Contact Form JavaScript File -->
    <script src="{{url_for('static', filename='contactform/contactform.js')}}"></script>

    <!-- Template Main Javascript File -->
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>

</html>