<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Profile</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="{{url_for('static', filename='img/KarmaTek.png')}}" rel="icon">
    <link href="{{url_for('static', filename='img/KarmaTek.png')}}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{{url_for('static', filename='lib/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='lib/animate/animate.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='lib/venobox/venobox.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">

    <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

    <!--==========================
    Header
  ============================-->
    <header id="header" class="header-fixed">
        <div class="container">

            <div id="logo" class="pull-left">
                <a href="{{url_for('home')}}#intro" class="scrollto"><img src="{{url_for('static', filename='img/PicsArt_10-29-03.45.41')}}" alt="" title=""></a>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('home')}}#about">About</a></li>
                    <li><a href="{{url_for('home')}}#schedule">Events</a></li>
                    <li><a href="{{url_for('home')}}#venue">Venue</a></li>
                    <li><a href="{{url_for('home')}}#gallery">Gallery</a></li>
                    <li><a href="{{url_for('home')}}#supporters">Sponsors</a></li>
                    <li><a href="{{url_for('home')}}#speakers">Team Karmatek</a></li>
                    <li><a href="{{url_for('home')}}#contact">Contact Us</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{url_for('users.account')}}">Profile</a></li>
                    <li><a href="{{url_for('users.logout')}}">Logout</a></li>
                    {% else %}
                    <li><a href="{{url_for('home')}}#participate">Login/Sign Up</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <!-- #header -->

    {% for mess in get_flashed_messages() %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert" style="z-index: 1000; position: fixed; top: 0; width: 99vw;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button> {{ mess }}
    </div>
    {% endfor %}

    <main id="main" class="main-page">
        <!--==========================
      Contact Section
    ============================-->
        <section id="contact" class="section-bg wow fadeInUp">

            <div class="container">

                <div class="section-header">
                    <h2>Your Details:</h2>
                </div>

                <div class="form">
                    <form method="POST">
                        {{form.hidden_tag()}}
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                {{form.email.label}}
                                <br> {{form.email(class="form-control", id="email", placeholder="Enter your email", disabled=True)}}
                            </div>
                            <div class="form-group col-md-6">
                                {{form.name.label}}
                                <br> {{form.name(class="form-control", id="name", placeholder="Enter Your Name")}}
                            </div>
                            <div class="form-group col-md-6">
                                {{form.ph_num.label}}
                                <br> {{form.ph_num(class="form-control", id="phno", placeholder="Enter Your Phone Number")}}
                            </div>
                            <div class="form-group col-md-6">
                                {{form.year.label}}
                                <br> {{form.year(class="form-control", id="year", placeholder="Enter Your Current Year")}}
                            </div>
                            <div class="form-group col-md-6">
                                {{form.dept.label}}
                                <br> {{form.dept(class="form-control", id="dept", placeholder="Enter Your Department")}}
                            </div>

                            <div class="text-center">
                                <br> {{form.submit(class="but but1", style="border-radius: 8px; padding: 10px 30px; font-size: 16px;")}}
                            </div>
                        </div>
                    </form>
                </div>
                <br>

                <div class=col-md-12><br></div>
                <div style="color: rgb(99, 99, 99);">
                    <form method="POST">
                        {{events_form.hidden_tag()}}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{events_form.event_selector.label}}
                                <br> {{events_form.event_selector(class="form-control", placeholder="None")}}
                            </div>
                            <div class="form-group col-md-6">
                                {{events_form.submit(class="btn btn-outline-primary", style="border-radius: 8px; padding: 10px 30px; font-size: 16px; margin-top: 24px;")}}
                            </div>
                    </form>

                    {% if events %}
                    <div class="container" style="padding: 12px;">
                        <h3>
                            List of Selected Events:
                        </h3>
                        <ul>
                            {% for event in events %}
                            <a href="{{url_for('users.event_detail', event_id=event.id)}}" onMouseOver="this.style.color='black'" onMouseOut="this.style.color='rgb(99, 99, 99)'" style="color: rgb(99, 99, 99);">
                                <li>
                                    <strong>{{ event.event }}</strong>
                                </li>
                            </a>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <div style="display: inline; border: 1px solid black; border-radius: 25px;">
                            <span style="padding: 8px;">
                            <strong style="position: relative; right: -2px;">i</strong>
                          </span>
                        </div>
                        <div class="col-md-2" style="display: inline;">
                            Click on the event for more details
                        </div>
                    </div>
                    {% else %}
                    <h3 style="margin-top: 24px;">It seems that you haven't registered for any event. Register in the events using the selection above.</h3>
                    {% endif %}
                    </div>


                </div>

            </div>
        </section>
    </main>

    <!--==========================
    Footer
  ============================-->

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>TheEvent</strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!--
      All the links in the footer should remain intact.
      You can delete the links only if you purchased the pro version.
      Licensing information: https://bootstrapmade.com/license/
      Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
    -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="{{url_for('static', filename='lib/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/jquery/jquery-migrate.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/easing/easing.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/superfish/hoverIntent.js')}}"></script>
    <script src="{{url_for('static', filename='lib/superfish/superfish.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/wow/wow.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/venobox/venobox.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>

    <!-- Contact Form JavaScript File -->
    <script src="{{url_for('static', filename='contactform/contactform.js')}}"></script>

    <!-- Template Main Javascript File -->
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>

</html>